<% @user ||= current_user %>
<div class="stats">
    <strong id="following" class="stat">
    </strong>
    following
  </a>
    <strong id="followers" class="stat">
    </strong>
    followers
  </a>
</div>